<h1>Home</h1>

<% if(locals.email == 'samiranroy0407@gmail.com'){ %>
    <div>
        <form action="/movie/create" method="POST">
            <input type="text" name="name" required placeholder="Name of Movie">
            <input type="text" name="year" required placeholder="Year">
            <% for(let gen of locals.genres){ %>
                <label ><%= gen %><input type="checkbox" name="genres" value="<%= gen %>"></label>
            <% } %>
            <input type="submit" value="Create">
        </form>
    </div>
<% } %>

<div>
    <ul>
        <% for(movie of movies){ %>
            <li>
                <p>Rating: <%= movie.rating %></p>
                <a href="/movie/open-movie/?id=<%= movie._id %>"><%= movie.name %></a>
                <% if(locals.user && !movie.picture){ %>
                    <form action="/movie/upload/?movieId=<%= movie._id %>&email=<%= locals.user.email %>" method="POST" enctype="multipart/form-data">
                        <input type="file" name="picture">
                        <input type="submit" value="Update">
                    </form>
                <% } else if(movie.picture){ %>
                    <img src="<%= movie.picture %>" alt="<%= movie.name %>" width="100">
                <% } %>
            </li>
        <% } %>
    </ul>
</div>