<p><a href="/users/destroy-session">Log Out</a></p>
<p><a href="/">Home</a></p>

<h1><%= locals.name %></h1>

<div>
    <ul>
        <% for(review of reviews){ %>
            <li>
                <p>Rating: <%= review.star %></p>
                <p><%= review.content %></p>
                <p>User: <%= review.user.name %></p>
                <% if(locals.user && locals.user._id == review.user.id){ %>
                    <a href="/review/destroy/?id=<%= locals.movie._id %>&review=<%= review._id %>&userId=<%= review.user._id %>">X</a>
                <% } %>
                <% if(locals.user){ %>
                    <p><a href="/review/like/?review=<%= review._id %>&user=<%= locals.user._id %>">Like<%= review.likes.length %></a></p>
                <% } else {%>
                    <p>Like<%= review.likes.length %></p>
                <% } %>
            </li>
        <% } %>
    </ul>
</div>

<% if(locals.user){ %>
    <div>
        <form action="/review/add/?id=<%= locals.movie._id %>" method="POST">
            <textarea name="content" cols="30" rows="10">Write Your Review Here...</textarea>
            <select name="star">
                <option value="10">10</option>
                <option value="9">9</option>
                <option value="8">8</option>
                <option value="7">7</option>
                <option value="6">6</option>
                <option value="5">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
            </select>
            <input type="submit" value="Submit">
        </form>
    </div>
<% } %>